<h1> Рецепты </h1>

<style>
    th, td{
        border: 2px solid #000000;
        padding: 5px;
        margin: 0px;
    }
</style>

<table style = 'background: #d6d2a9; border: 2px solid #000000; padding: 0;'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Id Доктора выдавшего рецепт</th>
      <th>Id Медикамента</th>
      <th>ФИО на кого выписан рецепт</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.id %></td>
        <td><%= recipe.doctor_id %></td>
        <td><%= recipe.medicine_id %></td>
        <td><%= recipe.name_of_patient %></td>
        <td>
          <%= link_to "Изменить", edit_recipe_path(recipe) %> |
          <%= link_to "Удалить", recipe_path(recipe), data: {method: :delete, confirm: "Уверен?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'Выписать рецепт', new_recipe_path %>