<h1>Добавить доктора</h1>

<%= form_with model: @doctor do |doc| %>
<div>
    <div style = 'margin-bottom: 5px'>
    ФИО Доктора
    </div>
    <%= doc.text_field :name, required:true, minlength:2%>
</div>
<div>
    <div style = 'margin-bottom: 5px; margin-top: 5px'>
    Профиль работы
    </div>
    <%= doc.text_field :profile, required:true, minlength:2%>
</div>
<div>
    <div style = 'margin-bottom: 5px; margin-top: 5px'>
    Дата рождения
    </div>
    <%= doc.date_field :date_of_birth, required:true%>
</div>
<div style = "margin-top: 20px">
<%= doc.submit "Добавить" %>
<div>
<% end %>